@import '../../public/assets/bootstrap/dist/css/bootstrap.css';
@import '../../public/assets/bootstrap-icons/font/bootstrap-icons.css';

@import '../../node_modules/highlight.js/styles/panda-syntax-dark.css';


/* 
* {
    color: white;
} */

/* p,div,span, td {
    color: white;
} */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px     rgba(148, 19, 19, 0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px     rgba(1, 1, 1, 0.955); 
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}